.button {
    margin: 15px;
    padding: 8px;
    border: 1px solid rgb(142, 35, 35);
    border-radius: 5px;
    background: black;
    color: paleturquoise;
    box-shadow: 7px 7px 4px rgba(100, 100, 100, 0.6) ;
}

.add-new-user-button {}

.greate-servise-window {
    margin: 15px;
    padding: 15px;
    background: rgb(0, 255, 213);
    border-radius: 5px;
}